<div class="question-container">
  <h1>Votre question :</h1>
  <p><%= @question %></p>

  <h2>Réponse du coach :</h2>
  <p><%= @answer %></p>

  <div class="bottom-link">
    <%= link_to 'Poser une autre question', ask_path, class: 'btn btn-primary' %>
  </div>
</div>
